.circle-big {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
}

.circle-1 {
  z-index: 0;
  background-color: #FFFFFF;
  top: 12px;
  left: 12px;
}

.circle-2 {
  z-index: 2;
  background-color: rgb(93, 113, 234);
  top: 12px;
  left: 17px;
}

.conceptual-text {
  position: absolute;
  z-index: 4;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  top: 10px;
  left: 25px;
}
